<!DOCTYPE html>
<html>
  <head>
    <title>katywelyczko</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="nav" id="nav">
      <%= link_to "home", "/", data: { turbolinks: false } %>
      <%= link_to "resume", "/resume" %>
      <%= link_to "social", "/social" %>
      <%= link_to "github", "https://github.com/katyjane8", target: "_blank" %>
    </div>
    <%= yield %>
  </body>
</html>
